body {
	direction: rtl;
}

#buy {
	font-size: 18px;
}

header {
	margin-bottom: 50px
}

@media screen and (min-width: 769px) {
	#navbar {
		color: white;
		background-color: black;
		border-bottom: 1px solid rgba(144, 144, 144, 0.15);
	}
}