.pricingCard {
	text-align: center;
	border: 1px solid #ADADAD;
	direction: rtl;
	box-shadow: 2px 3px 6px 1px #D0C9C9;
	    background: linear-gradient(white, #EFEAEA);
	margin: 10px -15px 10px -15px;
}

.pricingHour {
	padding: 10px;
	border-bottom: 5px solid #A0A0A0;
	font-size: 20px;
	font-weight: bolder;
	background-color: black;
	color: white;
}

.pricingBuy {
	padding: 10px;
	font-size: 22px;
}

.pricingPrice {
	padding: 30px;
	font-size: 20px;
	border-bottom: 1px solid #A0A0A0;
	height: 150px;
	position: relative;
	font-weight: bolder;
}

.pricingPrice > div {
	color: grey;
}

.pricingPrice span {
	font-size: 45px;
}

.description ul > li {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #A0A0A0;
}


}
.description {
	font-size: 20px;
}
#basic .pricingHour {
	background-color: red;
	border-color: #A90808;
}
#starter .pricingHour {
	background-color: #00B8FF;
	border-color: #0B7BCA;
}
#pro .pricingHour {
	background-color: green;
	border-color: #014310;
}
#starter {
	      box-shadow: 4px 5px 15px 1px #505050;
}
